<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns="http://www.springframework.org/schema/beans">

	<context:component-scan base-package="br.com.simnetwork" />

	<jpa:repositories base-package="br.com.simnetwork.model" />

	<!-- Spring Data -->

	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="dataSourceOnline">
		<property value="org.postgresql.Driver" name="driverClassName" />
		<property
			value="jdbc:postgresql://ec2-184-72-247-126.compute-1.amazonaws.com:5432/d59oid06otgslm"
			name="url" />
		<property value="gjcryvwqqkhsad" name="username" />
		<property
			value="674666c6e76361e81659a2a7a86c6d2dfc80f639994db08d6b6b8bc70897f9c1"
			name="password" />
	</bean>

	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="dataSourceLocal">
		<property value="org.postgresql.Driver" name="driverClassName" />
		<property value="jdbc:postgresql://localhost:5432/WaterMeter"
			name="url" />
		<property value="postgres" name="username" />
		<property value="1234" name="password" />
	</bean>

	<bean
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		id="entityManagerFactory" p:dataSource-ref="dataSourceLocal"
		p:packagesToScan="br.com.simnetwork.model.entity">

		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property value="true" name="generateDdl" />
				<property value="true" name="showSql" />
				<property value="org.hibernate.dialect.PostgreSQLDialect"
					name="databasePlatform" />
			</bean>
		</property>
	</bean>


	<bean class="org.springframework.orm.jpa.JpaTransactionManager"
		id="transactionManager">

		<property name="entityManagerFactory" ref="entityManagerFactory" />

	</bean>

	<tx:annotation-driven />


</beans>
 